{% extends "base.html" %}
{% block base %}

  <div style="height: 800px; background-image: url(/static/image/index.jpg)">
    <div class="container" style="width: 300px">
 
      <form class="form-signin" action="/index/" method="post">
        <h2 class="form-signin-heading" style="text-align: center;color: yellow">
          接口测试平台
        </h2>

        <label style="color: yellow;font-size: 20px">账号:</label>
        <input type="text" id="username" name="username" placeholder="username">

        <label style="color: yellow;font-size: 20px">密码:</label>
        <input type="password" id="password" name="password" placeholder="password">

        <div style="color:red;margin-left: 50px">{{ error }}</div>
         {% csrf_token %}
        <button class="btn btn-primary btn-block" style="height: 32px;width: 175px;margin-left: 50px;" type="submit">登录</button>
      </form>
    
    </div>
  </div>
{% endblock %}

